<html data-color-theme="auto">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="apple-mobile-web-app-title" content="Jisho">
    <meta name="theme-color" content="#47DB27">
    <link href="/opensearch.xml" rel='search' title='Jisho' type='application/opensearchdescription+xml'>
  
<script>

  Modernizr.addTest('speech', function(){
    return Modernizr.prefixed('speechRecognition', window);
  });

  Modernizr.addTest('AudioContext', function(){
    return Modernizr.prefixed('AudioContext', window);
  });

  Modernizr.addTest('getUserMedia', function(){
    return Modernizr.prefixed('getUserMedia', navigator);
  });

</script>

    <link rel="stylesheet" media="screen" href="https://assets.jisho.org/assets/application-61d8e80944056be2e8c772e3d3b243767cc3550ca5b7da4d62ba58a5604fc3c3.css" />
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="1YY8K0Dd9RYyjyJn4xFPHhYDTcEaxq0GijEV7YfgPt01OFjRnORV3tSfYZTz2SbOwK2YOxrno6MM8cnzA6g0Qw==" />
    
    <title>Kanji JLPT {{ level }}</title>
      <style>
        .row {
          max-width: 90rem !important;
        }

        .kanji_light_block {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
          margin: 0px;
        }

        .entry.kanji_light.clearfix {
          border: 0px;
          border-radius: 10px;
          padding: 10px;
          margin: 0px;
        }

        .entry.kanji_light.clearfix:nth-child(even) {
          background-color: #3d3d3d;
        }

        .entry.kanji_light.clearfix:hover {
            background: #000 !important;
        }
      </style>
  </head>
  <body class=" highlight_keyword highlight_common_readings highlight_common_representations production">
   
      <h3 style="text-align: center" data="" onclick="toggleBlur(this)">Kanji JLPT {{ level }}</h3>
      <div class="row">
        {% include 'comp-search.html' %}
      </div>

    {% include content %}


    <script type="text/javascript" charset="utf-8">
    var currentUser = null;

</script>

<script src="https://assets.jisho.org/assets/application-fe07b0b8ade93cbea5bf2f513ab5d59be67f0c111905dbeabfb88aa48c81e88e.js"></script>

  <style type="text/css" media="screen">
    .debug { display: none; }
  </style>



    <script>

  (function() {

   Namespace('Jisho.KeyEvents', {});
     var body = $(document.body);

     function applyBodyClass(keyEvent, on) {
       body.toggleClass(getClassForEvent(keyEvent), on !== (keyEvent.type == 'display'));
     }

     function getClassForEvent(keyEvent) {
       return (keyEvent.type == 'display' ? 'hide' : 'highlight') + '_' + keyEvent.name;
     }

     body.keydown(function(e) {
       var events = Jisho.KeyEvents[e.which];
       if(events) {
         events.each(function(keyEvent) {
           if(keyEvent.active) return;
           keyEvent.active = true;
           if(keyEvent.phase == 'toggle') {
             body.toggleClass(getClassForEvent(keyEvent));
           } else {
             applyBodyClass(keyEvent, true);
           }
         });
       }
     });

     body.keyup(function(e) {
       var events = Jisho.KeyEvents[e.which];
       if(events) {
         events.each(function(keyEvent) {
           keyEvent.active = false;
           if(keyEvent.phase !== 'toggle') {
             applyBodyClass(keyEvent, false);
           }
         });
       }
     });


  })();

</script>

  <script>
    function toggleBlur(e){
      const meaningEls = document.querySelectorAll('.meanings.english.sense')
      console.log(e)
      if(e.getAttribute('data') === 'blur'){
        meaningEls.forEach((item) => item.style.filter = 'blur(0px)')
        e.setAttribute('data', '')
      }else{
        meaningEls.forEach((item) => item.style.filter = 'blur(10px)')
        e.setAttribute('data', 'blur')
      }
    }

    function removeEl(data){
      data.forEach((item) => item.remove());
    }

    function searchContaining(){
        const els = document.querySelectorAll('.entry.kanji_light.clearfix')
        console.log("ELS", els)
        els.forEach((item) => {
            item.addEventListener('click', function(e) {
                const content = e.target.querySelector('.literal_block').innerText
                document.location.href = "/search/*" + content + '*/page=1'
            })
        })
    }
    searchContaining()

    //remove details link
    const links = document.querySelectorAll('.light-details_link');
    const hforEl = document.querySelectorAll('h4');
    const more = document.querySelectorAll('.more');
    removeEl(links)
    removeEl(hforEl)
    removeEl(more)

  </script>
  </body>
</html>
